@using Microsoft.AspNet.Identity
@model OnlineAgenda.ViewModels.PostFormViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GebruikerId, "Student", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @User.Identity.GetUserName()
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgendaItemId, "AgendaItem", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.AgendaItem
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Datum", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.Datum
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tijd", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.Tijd
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Post, "Post", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Post, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Post, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
